* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.screen {
  position: relative;
  height: 100vh;
  width: 100%;
  background: rgb(68, 239, 255);
}

.layout {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.interface {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
}

.window {
  z-index: 201;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.4);
  &__main {
    position: absolute;
    padding: 20px;
    border: 2px solid #000;
    background: #FFF;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    input {
      &[type="text"] {
        border: 1px solid #000;
        margin-top: 10px;
        font-size: 18px;
      }
      &[type="button"] {
        border: none;
        background: rgb(175, 32, 32);
        color: #FFF;
        margin-top: 10px;
        padding: 6px 20px;
      }
    }
  }
  &__options {
    display: none;
    position: absolute;
    padding: 20px;
    border: 2px solid #000;
    background: #FFF;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.obj {
  position: absolute;
  background-size: 100%;
}

.player {
  background-image: url('../assets/images/plane.png');
  z-index: 147;
  animation: player_animate 1s infinite linear;
}
@keyframes player_animate {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.cloud {
  background-image: url('../assets/images/cloud.png');
  z-index: 143;
}
.star {
  background-image: url('../assets/images/star.svg');
  z-index: 146;
}
.bird {
  background-size: 900%;
  background-image: url('../assets/images/bird.png');
  z-index: 145;
  animation: bird_animate 1s infinite steps(8);
}
@keyframes bird_animate {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.parash {
  background-image: url('../assets/images/parash.png');
  z-index: 144;
  transform-origin: center top;
  animation: parash_animate 1.7s infinite ease;
}
@keyframes parash_animate {
  0% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(20deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}

.fuel {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 200px;
  height: 25px;
  background: red;
}
.score {
  position: absolute;
  top: 15px;
  left: 50%;
  font-weight: 900;
  font-size: 19px;
  transform: translateX(-50%);
}

.buttons {
  position: absolute;
  width: 100%;
  height: 100%;
  button {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #666;
    background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.4));
    &::before {
      font-family: icomoon;
      font-size: 26px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.options {
      top: 15px;
      right: 165px;
      z-index: 202;
      &::before {
        content: "\e994";
      }
    }
    &.pause {
      top: 15px;
      right: 15px;
      &::before {
        content: "\ea1d";
      }
    }
    &.mute {
      top: 15px;
      right: 90px;
      z-index: 202;
      &::before {
        content: "\ea27";
      }
    }
    &.mute-active::before {
      content: "\ea2a";
    }
    &.up {
      bottom: 90px;
      left: 15px;
      &::before {
        content: "\ea32";
      }
    }
    &.down {
      bottom: 15px;
      left: 15px;
      &::before {
        content: "\ea36";
      }
    }
    &.left {
      bottom: 15px;
      right: 90px;
      &::before {
        content: "\ea38";
      }
    }
    &.right {
      bottom: 15px;
      right: 15px;
      &::before {
        content: "\ea34";
      }
    }
  }
}